<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art</title>
</head>
<body>
{% block content %}    
    
    {% for obj in obj.all %}
    <table>
        <tr>
             <td> 제목: {{ obj.title }} </td>
        </tr>    
        <tr>
            <td> 내용 : {{ obj.body }}
                {% if obj.image %}
                <img src="{{obj.image.url}}">
                {% endif %}  </td>
        </tr>
        <tr>
            <td> 작성자 : {{obj.writer }} 작성일 : {{obj.pub_date }}</td>
        </tr>
        <tr>
        <a href="{% url 'detail' obj.pk user.id%}">자세히 보기</a>
        </tr>
    </table>    
    {% endfor %}
    
{% endblock %}
</body>
</html>