{% block content %}   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beauty</title>
</head>
<body>

{% block content %}    
    <div class = 'posts wrapper'>
    {% for obj in obj.all %}
    <article class='post_item {{ obj.pk }}' onclick="location.href='{% url 'detail' obj.pk user.id%}'">
        <ui class='item'>
        <li class='post_image'>
            {% if obj.image %}
                <img src="{{obj.image.url}}">
            {% endif %}
        </li>
        <li class='post_title'>
             <span>{{ obj.title }} </span>>
        </li>    
        <li>
            <span>{{obj.writer }}</span>
        </li>
        <li>
            <span>{{obj.pub_date }}</span>
        </li>
    </article>
    {% endfor %}
    </div>
{% endblock %}
</body>
</html>
{% endblock %}