<div style="margin:0px 50px">
    {{ post.title }}<br>
    {{ post.image }}
    <h1>댓글</h1>
    <form action="{% url 'add_comment' post.id %}" method="POST">
        {% csrf_token %}
        <textarea style="width:95%; height:10%" placeholder="댓글 작성하기" name="body"></textarea>
        <input type="submit" value="작성">
    </form>
    <br>
    {% for comment in post.comments.all %}
        <div>
            {{ comment.id }}<br>
            {{ comment.body }}<br><br>
            <form>
                <input type="submit" value="쪽지 보내기">
            </form>
        </div>
        <br><hr><br>
    {% empty %}
        <p>아직 댓글이 없습니다!</p>
    {% endfor %}
</div>
